body {
  background-color: rgb(174, 182, 182);
}
.card {
  border: 1px solid #000;
  padding: 15px;
  border-radius: 5px;
  background-color: #cecece;
}

.grid {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(1, 1fr);
}

.counter {
  border: 1px solid #000;
  padding: 15px;
  max-width: 300px;
  text-align: center;
}
.counterValue {
  font-size: 50px;
  margin: 0;
  margin-bottom: 0.2em;
  font-weight: bold;
}

.red {
  color: tomato;
}
.green {
  color: green;
}
.female {
  color: rgb(255, 225, 0);
  background-color: rgba(29, 22, 23, 0.331);
}
.male {
  color: rgb(30, 0, 255);
  background-color: rgba(69, 69, 181, 0.139);
}

.personCard {
  border: 5px solid #000;
  padding: 20px;
}
.personsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  text-align: center;
}
.normal {
  border: 5px solid black;
}
.special {
  border: 5px solid yellow;
}
